p {
font-size: 20px;
}

.destacado{
color:rgb(2, 4, 43)
}
.Fidel{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(22, 22, 121, 0.795)
}

.Raya{
text-align: justify; 
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
background-color: rgb(82, 101, 117);
image-orientation: from-image;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.Caja{
  background-color :rgb(74, 74, 201);
   border: 2px solid rgb(0, 2, 8);
   border-radius: 15px;
   padding: 10px;
   margin: 15px auto;
   width: 50%; 
}